<div class="col-md-12">
  <div class="group">
    <%= link_to "New Post", new_post_path, class: "btn btn-primary pull-right" %>
  </div>

  <div class="dropdown clearfix pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      排序
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
      <li>
        <%= link_to("按照薪资下限排序", jobs_path(:order => "by_lower_bound")) %>
      </li>
      <li>
        <%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound")) %>

      </li>
      <li>
        <%= link_to("按照发表时间排序", jobs_path ) %>

      </li>
    </ul>
  </div>

  <table class="table table-striped table-bordered table-hover text-center">
    <thead>
      <tr>
        <td>#</td>
        <td>Title</td>
        <td>Description</td>
        <td colspan="2">操作</td>

      </tr>
    </thead>

    <tbody>
      <%= render :partial => "post_item", :collection => @posts, :as => :post %>
    </tbody>
  </table>
</div>